WebApp/WristBandWebApp/WristBandWebApp/Connected Services/WBAPISensor/WristbandSensor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WristBandAPI.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WristBandAPI.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/WrsitBandAPI/Services/WristbandSensor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="CSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CSResponse" nillable="true" type="tns:CSResponse" />
</xs:schema>